@import './variables';
@import './mixins';
@import './base';

/* CLASSES */
.flex-row-center {
    @include flex-container(row, center);
}

.flex-column-center {
    @include flex-container(column, center);
}

.flex-row-end {
    @include flex-container(row, end);
}

.width-full {
    width: 100%;
}

.low-color {
    color: $low-price;
}

.average-color {
    color: $average-price;
}

.high-color {
    color: $high-price;
}

.buttons-wrapper {
    border: solid thin $buttons-color;
    border-radius: 0.2rem;
}

.buttons-container {
    @include flex-container(row, end);
    gap: 0;
}

button {
    font-size: 1.2rem;
    border-radius: 0.2rem;
    width: auto;
    border: none;

    color: $primary-text-color;
    background-color: $background-color;

    padding-block: 0.3rem;
    padding-inline: 2rem;
}

.active-button {
    color: $background-color;
    background-color: $buttons-color;
}